body{
    margin: 0%;
    background-color: #FEFADF;
    width: 100vw;
    min-height: fit-content;
    overflow-x: hidden;
}

#root{
    position: absolute;
    width: 100vw;
    height: max-content;
}
.container{
    margin: 20vh 0 5vh 0;
    min-height: 100vh;
    padding: 0;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
}

h2{
    font-family: proxima-nova, sans-serif;
    font-weight: normal;

}

p{
    font-family: proxima-nova, sans-serif;
    color: #354721;
}

a {
    font-family: proxima-nova, sans-serif;
    text-decoration: none;
    color: #354721;
}

a:hover{
    text-decoration: none;
    color: #354721;
}

/* Button stylings */
.button{
   width: 100%;
   padding: 0.3rem;
   margin: 0.5rem 0;
   text-align: center;
   border: none;
   background-color: #CCC38C;
   text-transform: capitalize;
   color: #656040;
}

.button:hover{
    background-color: #656040;
    color: #CCC38C;
}

/* Styling fro Privacy Policy Page */
#privTitle{
    font-family: 'Abril Fatface', cursive;
    margin: 0 10vw;

}

#privBody{
    margin: 5vh 10vw;
}

/* Media Queries */
/*Mobile */
@media screen and (max-width: 767px){
    .container{
        margin: 0 0 5vh 0;

    }

    
}

/*Tablet */
@media screen and (min-width: 768px) and (max-width: 992px){
    .container{
        margin: 10vh 0 5vh 0;

    }



    
}